---
export const prerender = true;
import Hero from "../components/Hero.astro";

import MainLayout from "../layouts/MainLayout.astro";


---

<MainLayout title='Home Page'>
	<main>
		<Hero></Hero>
		<h1>Welcome</h1>
	</main>
</MainLayout>
